@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300&display=swap");

:root {
  -webkit-tap-highlight-color: transparent;
  --primary-color: whitesmoke;
  --background-color: rgb(20, 20, 20);
  --accent-color: rgb(51, 116, 255);
  --secondary-text-color: rgb(200, 200, 200);
  --disabled-color: rgb(100, 100, 100);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

a[href],
input[type="submit"],
input[type="image"],
label[for],
select,
button,
.pointer {
  cursor: pointer;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  text-align: center;
  margin: 0 1rem;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}
@keyframes fadeInFromBottomAnimation {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  75% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInFromBottomLeftAnimation {
  0% {
    opacity: 0;
    transform: translateX(-4rem);
  }
  75% {
    opacity: 0;
    transform: translateX(-4rem);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInFromBottomRightAnimation {
  0% {
    opacity: 0;
    transform: translateX(4rem);
  }
  75% {
    opacity: 0;
    transform: translateX(4rem);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInFromMiddleAnimation {
  0% {
    opacity: 0;
    transform: translateY(40svh);
  }
  10% {
    opacity: 0;
  }
  75% {
    opacity: 1;
    transform: translateY(40svh);
  }
  100% {
  }
}

header {
  margin-bottom: 1rem;
}

header h1 {
  font-weight: 100;
  font-size: 4rem;
  animation: fadeInFromMiddleAnimation ease-in-out 1.5s;
}

header p {
  font-size: 0.75rem;
  color: var(--secondary-text-color);
  animation: fadeInAnimation ease-in-out 3s;
}

.main {
  margin: auto;
  margin-bottom: 5rem;
  width: 100%;
  max-width: 30rem;
}

.section {
  margin-bottom: 1rem;
  padding: 1rem;
  width: 100%;
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  animation: fadeInFromBottomAnimation ease-in-out 2s;
}

.container-qr {
  width: 100%;
  aspect-ratio: 1;
  display: flex;
}

#qr-code {
  margin: auto;
  padding: 10px;
  background-color: var(--disabled-color);
}

#qr-code img {
  max-width: 100%;
  max-height: 100%;
}

.container-caption-download {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
  font-size: 0.6rem;
  color: var(--disabled-color);
}

.container-caption-download p:first-child {
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container-download-icon-png {
  display: flex;
  align-items: center;
}

#button-download:hover:enabled #path-icon-download,
#button-download:focus:enabled #path-icon-download {
  stroke: var(--accent-color);
}

#button-download:active:enabled #path-icon-download {
  stroke: var(--primary-color);
}

.container-form-input {
  display: flex;
  margin-bottom: 1rem;
}

.url,
.button {
  padding: 0.5rem;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  transition: 0.05s;
}

input[type="text"] {
  width: 100%;
}

.url {
  background-color: var(--background-color);
  color: var(--primary-color);
  animation: fadeInFromBottomLeftAnimation ease-in-out 2.5s;
}

#button-generate {
  animation: fadeInFromBottomRightAnimation ease-in-out 2.5s;
}

.button {
  color: var(--background-color);
  background-color: var(--primary-color);
  margin-left: 1rem;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:disabled {
  background-color: var(--disabled-color);
  border-color: var(--disabled-color);
}

.button:hover:enabled,
.button:focus:enabled,
.url:hover,
.url:focus {
  transform: scale(1.1);
  box-shadow: 0 2px var(--accent-color);
  border-color: var(--accent-color);
  transition: 0.01s;
}

.url:hover,
.url:focus {
  transform: scale(1.03);
}

.button:hover:enabled,
.button:focus:enabled {
  color: var(--accent-color);
}

.button:active:enabled {
  background-color: var(--accent-color);
  box-shadow: 0 2px var(--accent-color), 0 0 1rem var(--accent-color);
  transform: translateY(5px);
  color: var(--primary-color);
  transition: 0.01s;
}

footer {
  font-size: 0.75rem;
  color: var(--secondary-text-color);
  animation: fadeInAnimation ease-in-out 3s;
}

a {
  color: var(--primary-color);
}

a:hover {
  transform: scale(2);
  color: var(--accent-color);
}

::selection {
  background-color: pink;
  color: black;
}
