@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300&display=swap");

:root {
  -webkit-tap-highlight-color: transparent;
  --primary-color: whitesmoke;
  --background-color: #141414;
  --accent-color: rgb(21, 164, 216);
  --secondary-text-color: rgb(200, 200, 200);
  --disabled-color: rgb(100, 100, 100);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

a[href],
input[type="submit"],
input[type="image"],
label[for],
select,
button,
.pointer {
  cursor: pointer;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  text-align: center;
  margin: 0 1rem;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

header {
  margin-bottom: 1rem;
}

header h1 {
  font-weight: 100;
  font-size: 4rem;
}

header p {
  font-size: 0.75rem;
  color: var(--secondary-text-color);
}

.main {
  margin: auto;
  width: 100%;
  max-width: 30rem;
}

.container {
  margin-bottom: 1rem;
  width: 100%;
  border: 1pt solid var(--primary-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 100%;
  aspect-ratio: 1;
  display: flex;
}

#qrborder {
  margin: auto;
  color: var(--primary-color);
}

.container-caption-download {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
  font-size: 0.6rem;
  color: var(--disabled-color);
}

.container-caption-download p:first-child {
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container-download-icon-png {
  display: flex;
  align-items: center;
}

#downloadButton:hover:enabled #downloadIconPath,
#downloadButton:focus:enabled #downloadIconPath {
  stroke: var(--accent-color);
}

#downloadButton:active:enabled #downloadIconPath {
  stroke: var(--primary-color);
}

#form {
  display: flex;
  margin-bottom: 1rem;
}

.url,
.button {
  padding: 0.5rem;
  border: 1pt solid var(--primary-color);
  border-radius: 5px;
  transition: 0.05s;
}

input[type="text"] {
  width: 100%;
}

.url {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.button {
  color: var(--background-color);
  background-color: var(--primary-color);
  margin-left: 1rem;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:disabled {
  background-color: var(--disabled-color);
  border-color: var(--disabled-color);
}

.button:hover:enabled,
.button:focus:enabled,
.url:hover,
.url:focus {
  transform: scale(1.1);
  box-shadow: 0 2px var(--accent-color);
  border-color: var(--accent-color);
  transition: 0.01s;
}

.url:hover,
.url:focus {
  transform: scale(1.03);
}

.button:hover:enabled,
.button:focus:enabled {
  color: var(--accent-color);
}

.button:active:enabled {
  background-color: var(--accent-color);
  box-shadow: 0 2px var(--accent-color), 0 0 1rem var(--accent-color);
  transform: translateY(5px);
  color: var(--primary-color);
  transition: 0.01s;
}

#qrcode {
  margin: auto;
}

footer {
  font-size: 0.75rem;
  color: var(--secondary-text-color);
}

a {
  color: var(--primary-color);
}

a:hover {
  transform: scale(2);
  color: var(--accent-color);
}

::selection {
  background-color: pink;
  color: black;
}
