@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300&display=swap");

:root {
  -webkit-tap-highlight-color: transparent;
  --primary-color: whitesmoke;
  --background-color: #141414;
  --accent-color: rgb(21, 164, 216);
  --secondary-text-color: rgb(200, 200, 200);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

a[href],
input[type="submit"],
input[type="image"],
label[for],
select,
button,
.pointer {
  cursor: pointer;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  text-align: center;
  margin: 0 1rem;
  min-height: 100svh;
}

header h1 {
  font-size: 4rem;
  text-shadow: 0 2px var(--accent-color);
}

header p {
  font-size: 0.75rem;
  color: var(--secondary-text-color);
}

.main {
  background-color: aquamarine;
  margin: auto;
  max-width: 30rem;
}

.container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  border: 1pt solid var(--primary-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 100%;
  aspect-ratio: 1;
  background-color: blueviolet;
  display: flex;
}

#qrborder {
  margin: auto;
  color: var(--primary-color);
}

.container-caption-download {
  margin: 1rem;
  background-color: green;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.container-download-icon-png {
  display: flex;
}

#qrCaption {
  font-size: 0.6rem;
  color: var(--secondary-text-color);
}

#form {
  display: flex;
}

.url,
.submit {
  padding: 0.5rem;
  border: 1pt solid var(--primary-color);
  border-radius: 5px;
  transition: 0.01s;
}

input[type="text"] {
  width: 100%;
}

.url {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.submit {
  color: var(--background-color);
  background-color: var(--primary-color);
  margin-left: 1rem;
}

.submit:hover,
.submit:focus {
  transform: scale(1.1);
  box-shadow: 0 2px var(--accent-color);
  border-color: var(--accent-color);
  transition: 0.01s;
}

.url:hover,
.url:focus {
  transform: scale(1.05);
  box-shadow: 0 2px var(--accent-color);
  border-color: var(--accent-color);
  transition: 0.01s;
}

.submit:hover,
.submit:focus {
  color: var(--accent-color);
}

.submit:active {
  background-color: var(--accent-color);
  transform: translateY(5px);
  color: var(--primary-color);
  transition: 0.01s;
}

#qrcode {
  margin: auto;
}

footer {
}
